.cerceveli{
    border: 1px solid #ddccdd;
    margin: 15px;
    padding: 15px;
}
.footer{
    border-top: 1px solid #ddccdd;
    position: fixed;
    bottom: 0px;
    text-align: center;
    padding: 10px;
    width: 100%;
}